[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	submit = group Xenon Committers
	label-Code-Review = -2..+2 group Xenon Committers
	push = group xenon-maintainers
[submit]
	action = rebase if necessary
[access "refs/tags/*"]
	create = group xenon-maintainers
	push = +force group xenon-maintainers
	pushTag = group xenon-maintainers
