[filter "*"]
	reviewer = jungk
	reviewer = kariva
	reviewer = alainr
	reviewer = tliaqat
	reviewer = dars
	reviewer = molteanu
	reviewer = istoyanov
	reviewer = georgec
	reviewer = jvassev
	reviewer = cwagner
	reviewer = jcooley
[filter "^(?!WIP).+"]
	reviewer = jungk
	reviewer = tliaqat
	reviewer = alainr
	reviewer = dars
	reviewer = molteanu
	reviewer = istoyanov
